<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start">
      <ion-icon name="menu"></ion-icon>
    </ion-menu-button>
    <button class="btnHeader" slot="end">
              <img class="imgHeader" src="assets/logo.png">
            </button>
  </ion-toolbar>
</ion-header>
<ion-content>





  <ion-card>
    <ion-card-title>
      
      <h2>{{'Document owner information' | translate}} </h2>
    </ion-card-title>
    <hr>
    <ion-card-content>



      
      <h3>{{'Document owner identity' | translate}} <span> 2 </span> </h3>
      <h3> {{'Name' | translate}} <span> mohamed  </span> </h3>
      <h3> {{'national address' | translate}} <span> mostafa el-nahas</span> </h3>
      <h3> {{'phone number' | translate}} <span> 01112553539    </span> </h3>

    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-title>
      <h2>{{'Vehicle information' | translate}} </h2>
    </ion-card-title>
    <hr>
    <ion-card-content>



      <h3> {{'choose No' | translate}}<span> 2 </span> </h3>
      <h3> {{'vehicle brand' | translate}} <span> BMW</span> </h3>
      <h3> {{'plate number' | translate}} <span>797</span> </h3>
      <h3> {{'Year of Manufacture' | translate}} <span> 1999    </span> </h3>

    </ion-card-content>
  </ion-card>



  <ion-card>
    <ion-card-title>
      <h2>تفاصيل الوثيقه </h2>
    </ion-card-title>
    <hr>
    <img src="assets/loading.jpg">
    <h2>{{'The Islamic Insurance co' | translate}}</h2>
    <hr>
    
    <h5>{{'secure with' | translate}}</h5>
    <p>{{'anti other' | translate}}</p>
    <hr>
    <ion-card-content>


      

      <h3>{{'Document issued Date' | translate}} <span>22/2/2020 </span> </h3>
      <h3> {{'Document started Date' | translate}} <span>22/10/2020</span> </h3>
      <h3> {{'Document End Date' | translate}} <span>22/10/2020 </span> </h3>
      <h3> {{'Refrance Number' | translate}}<span>453 </span> </h3>
      <h3> {{'Insurance Type' | translate}}<span>vehicle</span> </h3>
      <h3> {{'Document Price' | translate}}<span>329</span> </h3>
      <h3> {{'Premium Subsription' | translate}}<span>100</span> </h3>

    </ion-card-content>
  </ion-card>
</ion-content>