ion-content{
  --background: #FFFFFF;
}
ion-icon{
  font-size: 20px;
  margin-right: 10px;
  margin-left: 10px;
  color: #6c6c6c;
}

.language{
  margin-left: 10px;
  margin-right: 10px;
}


ion-card-title{
  display: inline-block;
margin: 8%;
font-size: 15px;
color: white;
margin-top: 5%;
margin-bottom: 0%;
}
ion-menu{
  --width:75%;
  
  
}


ion-label{
  display: inline-block;
  font-style: bold;
  margin: 5%;
  color: #595959;
  margin-left: 10%;
  margin-right: 10%;
}