ion-toolbar,ion-content{
    --background: #0d70b4;
    height: 50px;
}
ion-icon{
    color: white;
}
.imgHeader{
  width: 70%;
  height: 45px;
  margin-left: 10%;
  margin-right: 10%;
}
.btnHeader{
    margin-top: -2%;
    width: 75%;
    background: white;
    border-bottom-left-radius: 20px;
}
ion-slide{
    margin-top: 5%;
    //width: 290px;
    height: 200px;
    width: 290px;
    
}

.btn{
  width: 60%;
  margin: 10%;
  margin-left: 20%;
  margin-right: 18% !important;
  border-radius: 30px;
  height:11%;
  background: #eeeeee;
  
}

ion-card{
    width: 90%;
    margin: 5%;
    height: 300px;
    border-radius: 10px !important;
   // margin-top: 50%;
}
ion-input ,ion-datetime{
    
    border-radius: 10px !important;
    
  //  padding-left: 30px !important;
    padding-right: 30px;
    font-size: 0.9em;
    border: 1px solid #2482c4;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 10px;
    height: 10%;
    width: 90%;
    margin-top: 2%;
    flex:none;
}
.label{
    text-align: center;
    width: 40%;
    margin-left: 5%;
    color: black;
   // margin-right: 30%;
   font-style: bold;
   font-size: 17px;
}
.login{
    background: #2482c4;
    color: #fff4ea;
    width: 40%;
    padding: 10px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5%;
    border-radius: 5px;
    font-size: small;
    text-transform: uppercase;
    
    
}



  .compuisoryInsurance{
    padding: 16px 15.5px;
    font-size: 13px;
    margin-bottom:10%;
    text-align: right !important;
    width: 50% !important;
    // margin-top: 25%;
   
  
  }
  .comprehensiveInsurance {
    padding: 16px 14px;
    font-size: 12px;
    margin-bottom:10%;
    width: 50% !important;
    margin-top: 5%;
      }
      div{
          margin: 0;
        margin-bottom:10%;
        width: 100%;
       
      }
    